body {
    background: darkgrey;
    margin-left: 100px;
    margin-right: 200px;
}

header {
    margin-top: 70px;
}

h1 {
    font-family: fantasy;
    color: red;
}

h2 {
    font-family: fantasy;
}

p {
    font-size: 18px;
}

footer {
    margin-bottom: 30px;
}

.img_padrao {
    margin-bottom: 20px;
    width: 300px;
}

.logo {
    float: left;
    width: 30px;
    padding-right: 5px;
}